body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #4a90e2;
    color: white;
    padding: 1em;
    text-align: justify;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .task-form {
    order: -1;
  }
.task-form {
    background-color: white;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px auto;
    gap: 10px;
  }
  
  .task-form input[type="text"] {
    width: 100%;
    max-width: calc(100% - 120px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .task-form button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .task-form button:hover {
    background-color: #357ab8;
  }
  
  @media (max-width: 768px) {
    .task-form {
      flex-direction: column;
      max-width: 95%;
      margin: 10px 10px 20px 10px;
    }
  
    .task-form input[type="text"] {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  
    .task-form button {
      width: 100%;
    }
  }
  .task-board {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  .task-column {
    width: 95%;
  }
  
  .task-column h3 {
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: white;
    border-radius: 8px;
  }
  .backlog h3 {
    color: #494949;
    background-color: #ccc;
}

.inProgress h3 {
    color: #1f5699;
    background-color: #77b1f8;
}

.done h3 {
    color: #0c972f;
    background-color: #51e4ae;
}

.trash h3 {
    color: #993232;
    background-color: #f18383;
}
  
  
  @media (min-width: 768px) {
    .task-board {
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
  
    .task-column {
      width: 23%;
    }
  }
  .clear-button {
    background-color: #e74c3c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  .clear-button:hover {
    background-color: #c0392b;
  }
  
  .clear-button:disabled,
  button[disabled] {
    cursor: not-allowed;
    background-color: #baa4a4;
    color: #666666;
  }
  .task-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .task-element {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .drag-and-drop {
    background-color: transparent;
    color: grey;
    list-style-type: none;
    border-style: groove;
    border-width: 2px;
  }